    </div>
  </div>
<br class="clearfloat" />
   <div id="footer">
   <p>&copy;2009-2011 Powered by <a href="http://www.longyunet.net">龙宇网</a></p>
   <div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5fcaae3530a51cd77623c2e852149737' type='text/javascript'%3E%3C/script%3E"));
</script>
            </div>
  <!-- end #footer --></div>
<!-- end #main --></div>


</body>

</html>
